{% extends "mahasiswa/dashboard/base.html" %} {% load static %}

{% block content %}
    <div class="container">
        <div class="left-sidebar"> 
            <div class="sidebar-profile-box">
                <img src="{% static 'img/magerpol/rektorat.jpg' %}" width="100%" height="150px">
                <div class="sidebar-profile-info" style="padding-bottom: 10px;">
                    <img src="{% if mahasiswa.profile %}{{ mahasiswa.profile.url }}{% else %}{% static 'img/magerpol/default-profile.jpg' %}{% endif %}">
                    <h1>{{ mahasiswa.nama_mahasiswa }}</h1>
                    <h3></h3>
                    <ul>
                        <li>NIM: <span style="color: black"><b>{{ mahasiswa.nim }}</b></span></li>
                        <li>Jurusan: <span style="color: black"><b>{% if mahasiswa.jurusan %}{{ mahasiswa.jurusan.judul_kategori }}{% else %}Tidak ada{% endif %}</b></span></li>
                        <li>No HP:<span style="color: black;">{% if mahasiswa.nohp_mahasiswa %}{{ mahasiswa.nohp_mahasiswa }}{% else %}Tidak ada{% endif %}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-content"> 
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="post">
                <div class="post-author" id="profil">
                <div id='input-container'>
                    <div style="position: relative;">
                    <img id="imgPreview" src="{% if mahasiswa.profile %}{{ mahasiswa.profile.url }}{% else %}{% static 'img/magerpol/default-profile.jpg' %}{% endif %}" alt="Preview"
                        style="width: 150px; height: 150px; object-fit: cover; border: 1px solid #ccc; border-radius: 5px;">
                    
                    <input type="file" name="image" accept="image/*"
                            onchange="previewImage(event)"
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer;">
                    </div>

                    <div class="input-group" style="display: flex; flex-direction: column;">
                        <input type="text" name="nama" id="nama" placeholder="Masukkan nama..." value="{{ mahasiswa.nama_mahasiswa }}" required>
                        <input type="text" name="nohp" id="nohp" placeholder="Masukkan no hp..." value="{% if mahasiswa.nohp_mahasiswa %}{{ mahasiswa.nohp_mahasiswa }}{% else %}{% endif %}" required>
                        <input type="text" name="email" id="email" placeholder="Masukkan email..." value="{{ mahasiswa.user.email }}" required>
                    </div>
                </div>
                </div>
                <div class="post-activity">
                    <div class="post-activity-link">
                        <button type="submit" name="submit_type" value="profile-save" style="background:#222; color:white; padding:6px 12px; border-radius:8px">Save</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="right-sidebar">
            <div class="sidebar-news">
                <h3>Upload CV mu disini!</h3>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="cv">
                    <button type="submit" name="submit_type" value="cv" style="margin-top:4px; background:#222; color:white; padding:6px 12px; border-radius:6px;">Submit</button>
                </form>
                <h3>CV: {% if mahasiswa.cv %}<a href="{% url 'view-mahasiswa-cv' mhs_pk=mahasiswa.pk %}" target="_blank">Lihat</a>{% else %}Belum upload{% endif %}</h3>
            </div>
        </div>
    </div>

    {% endblock content %}

{% block script %}
<script>
  function previewImage(event) {
    const reader = new FileReader();
    reader.onload = function () {
      document.getElementById('imgPreview').src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  }
</script>
{% endblock script %}
</body>
</html>