{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dashboard - Kampus</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
    <link rel="icon" href="{% static 'img/piggypoggo/jinhsi-icon.ico' %}" type="image/x-icon"/>

    <script src="{% static 'umkm/js/plugin/webfont/webfont.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'umkm/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'umkm/css/plugins.min.css' %}" />
    <link rel="stylesheet" href="{% static 'umkm/css/magerpol.min.css' %}" />

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css" integrity="sha512-i1b/nzkVo97VN5WbEtaPebBG8REvjWeqNclJ6AItj7msdVcaveKrlIIByDpvjk5nwHjXkIqGZscVxOrTb9tsMA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar sidebar-style-2" data-background-color="dark">
        <div class="sidebar-logo">
          <div class="logo-header" data-background-color="dark">
            <a href="{% url 'dashboard-kampus' %}" class="logo">
              <img src="{% static 'img/magerpol/magerPOL_outline.png' %}" alt="navbar brand" class="navbar-brand" height="100" style=""/>
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-item active">
                <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                  <i class="fas fa-home"></i>
                  <p>Dashboard</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="dashboard">
                  <ul class="nav nav-collapse">
                    <li class="{% if on == 'utama' %}active{% endif %}">
                      <a href="{% url 'dashboard-kampus' %}">
                        <span class="sub-item">Utama</span>
                      </a>
                    </li>
                    <li class="{% if on == 'kandang' %}active{% endif %}">
                      <a href="">
                        <span class="sub-item">Kandang</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="main-panel">
        <div class="main-header">
          <div class="main-header-logo">
            <div class="logo-header" data-background-color="dark">
              <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                  <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                  <i class="gg-menu-left"></i>
                </button>
              </div>
              <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
              </button>
            </div>
          </div>
          <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
            <div class="container-fluid">
              <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
              </nav>
              <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                <li class="nav-item topbar-user dropdown hidden-caret">
                  <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                    <div class="avatar-sm">
                      <img
                        src="{% if umkm.logo_umkm %}{{ umkm.logo_umkm.url }}{% else %}{% static 'img/magerpol/default-profile.jpg' %}{% endif %}"
                        alt="..."
                        class="avatar-img rounded-circle"
                      />
                    </div>
                    <span class="profile-username">
                      <span class="op-7">Hi,</span>
                      <span class="fw-bold">{{ request.user }}</span>
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-user animated fadeIn">
                    <div class="dropdown-user-scroll scrollbar-outer">
                      <li>
                        <div class="user-box">
                          <div class="avatar-lg">
                            <img src="{% static 'img/magerpol/default-profile.jpg' %}" alt="image profile" class="avatar-img rounded"/>
                          </div>
                          <div class="u-text">
                            <h4>{{ request.user }}</h4>
                            <p class="text-muted">{{ request.user.email }}</p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                      </li>
                    </div>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>

        {% block content %}{% endblock content %}

      <footer class="footer">
          <div class="container-fluid d-flex justify-content-between">
            <nav class="pull-left">
              <ul class="nav">
                <li class="nav-item">
                  -
                </li>
              </ul>
            </nav>
            <div class="copyright">
              2025, made with <i class="fa fa-heart heart text-danger"></i> by
              <a href="">Mons. Yekti</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'umkm/js/core/popper.min.js' %}"></script>
    <script src="{% static 'umkm/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'umkm/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
    <script src="{% static 'umkm/js/plugin/chart.js/chart.min.js' %}"></script>
    <script src="{% static 'umkm/js/plugin/jquery.sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'umkm/js/plugin/chart-circle/circles.min.js' %}"></script>
    <script src="{% static 'umkm/js/plugin/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'umkm/js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
    <script src="{% static 'umkm/js/plugin/jsvectormap/jsvectormap.min.js' %}"></script>
    <script src="{% static 'umkm/js/plugin/jsvectormap/world.js' %}"></script>
    <script src="{% static 'umkm/js/plugin/sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'umkm/js/magerpol.min.js' %}"></script>
    {% block script %}{% endblock script %}
  </body>
</html>
  